*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-image: linear-gradient(#003D8E, #ffffff);
    background-color: #003D8E;
    color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-imagem{
    width: 35%;
    
}

.cabecalho-lista-item{
     display: inline-block;
     margin: 0 19px;
     font-size: 25px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#003D8E, #ffffff);
}

.escola{
    background-image: linear-gradient(#003D8E, #ffffff);
}

.escola{
    background-image: linear-gradient(#ffffff, #003D8E); 
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}

.escola-titulo-2{
    padding: 24px 0;
}