*{
    margin: 0;
    padding: 0;
}

body{  
     font-family: "Poppins", sans-serif;

}

.cabecalho{
    background-image: linear-gradient(#003D8E, #ffffff);
    background-color: #003D8E;
    color: #000000fa;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-imagem{
    width: 35%;
    
}

.cabecalho-lista-item{
     display: inline-block;
     margin: 0 19px;
     font-size: 25px;
}

.escola-imagem{
    width: 31%;
    display: inline-block;
     margin: 0 40px;    
}

.escola{
    background-image: linear-gradient(#003D8E, #ffffff);
}

.escola{
    background-image: linear-gradient(#003D8E, #ffffff);
}

.escola{
    background-image: linear-gradient(#ffffff, #003D8E); 
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}

.escola-titulo-2{
    padding: 24px 0;
}


.estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}

.estudante-div{
    text-align: center;
    padding: 16px 0;
}

.estudante-titulo{
    text-align: center;
    padding: 40px 0;
}

.estudante-todos{
    display: grid;
  
} 